.airstrip 
  .head
    %h1.central
      Airstrip
    .central
      .inline-block
        = form_tag airstrip_launch_planes_path, method: :PUT, remote: true do 
          = button_tag 'Launch'
          = text_field_tag :planes_count, params[:planes_count] || 2
          planes!
  .central
    .events.inline-block
      = render 'events'

